header.header
        nav.nav.nav--tours
            a.nav.nav__el(href='#') All Tours
        .header__logo 
            img(src='img/logo-white.png' alt='Yatra logo')
        .nav.nav--user
            //- a.nav__nav___el(href='#') My Bookings
            //- a.nav__nav___el(href='#') 
            //-     img.nav__user-img(src='img/user.jpg' alt= 'user photo')
            //-     span Varbuzz
            button.nav__el Log in 
            button.nav__el.nav__el--cta Sign up
